:root {
  --colormain: #6D5FB4;
  --colordua: #E6618C;
  --colorputih: #fff;
  --coloryellow: yellow;
  --colorsoal: #16214f
}

* {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-blend-mode: hard-light; */
  background-image: linear-gradient(180deg, #a78cdc 0, #6c5eba 30%, #1e3599 100%);
  background-repeat: no-repeat;
}