.atas {
    height: 100px;
    width: 100%;
    background-color: red;
    margin-bottom: 20px;
}

.atas img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}