.luarbutton {
    margin-top: 10px;
    /* padding: 0 0; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}

.luarbutton button {
    width: 30%;
    background-color: var(--colorputih);
    height: 60px;
    font-weight: 700;
    font-size: 24px;
    color: var(--colordua);
    border-radius: 7px;
    cursor: pointer;
}

.luarbutton button:hover {
    opacity: 0.9;
}

.luarbutton .iconbawah:hover {
    opacity: 0.9;
}

.luarbutton .iconbawah {
    width: 10%;
    background-color: var(--colordua);
    height: 60px;
    font-weight: 700;
    color: var(--colorputih);
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.salahhh {
    color: var(--colordua);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 20px;
}




.droppableStyle {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 10px;
    background-color: whitesmoke;
    padding: 10px;
    position: relative;
}

.droppableStyle .isi {
    padding: 20px 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 210px;
    height: 466px;
    z-index: 120;
}


.droppableStyle .kotakshadow {
    position: absolute;
    border-radius: 5px;
    top: 39px;
    right: 10px;
    padding: 22px 10px;
    width: 210px;
    height: 466px;
}

.droppableStyle .shadowkotak {
    height: 43.5px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
}

.droppableStyle .judul {
    text-align: center;
}


.judulatas {
    color: var(--colorputih);
    font-size: 24px;
    padding: 20px 20px 0 20px;
    font-weight: 700;
}

.subjudul {
    color: var(--colorputih);
    font-size: 12px;
    padding-bottom: 20px;
    font-weight: 500;
    text-align: center;
    width: 510px;
}

.containerStyle {
    display: flex;
    gap: 10px;
    touch-action: none;
    /* padding: 10px; */
}

.juduldalam {
    width: 100%;
    text-transform: capitalize;
}

@media (min-width: 320px) and (max-width: 480px) {


    .droppableStyle .shadowkotak {
        font-size: 12px;
    }

    .droppableStyle .kotakshadow {
        position: absolute;
        border-radius: 5px;
        top: 39px;
        right: 10px;
        padding: 22px 10px;
        width: 100%;
        height: 466px;

        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .droppableStyle .isi {
        /* min-width: 130px; */
        width: 46vw;
    }

    .droppableStyle {
        padding: 10px 0;
        /* overflow: scroll; */
    }

    .droppableStyle .isi {
        border: 1px solid black;
    }


    .luarbutton button {
        width: 80%;
    }

    .luarbutton .iconbawah {
        width: 20%;
    }

    .judulatas {
        font-size: 20px;
        padding: 0 20px;
    }

    .subjudul {
        color: var(--colorputih);
        font-size: 8px;
        /* padding-bottom: 20px; */
        padding: 0 20px 20px 20px;
        font-weight: 500;
        text-align: center;
        width: auto;
    }

}