.luarbutton {
    margin-top: 10px;
    /* padding: 0 0; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.luarbutton button {
    width: 30%;
    background-color: var(--colordua);
    height: 60px;
    font-weight: 700;
    font-size: 24px;
    color: var(--colorputih);
    border-radius: 7px;
    cursor: pointer;
}

.luarbutton button:hover {
    opacity: 0.9;
}

.luarbutton .iconbawah:hover {
    opacity: 0.9;
}

.luarbutton .iconbawah {
    width: 10%;
    background-color: var(--colordua);
    height: 60px;
    font-weight: 700;
    color: var(--colorputih);
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.salahhh {
    color: var(--colordua);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 20px;
}




.droppableStyle {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 10px;
    background-color: whitesmoke;
    padding: 10px;
}

.droppableStyle .isi {
    padding: 20px 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 210px;
    height: 420px;
}

.droppableStyle .judul {
    text-align: center;
}


.judulatas {
    color: var(--colorputih);
    font-size: 24px;
    padding: 20px 0;
    font-weight: 700;
}

.containerStyle {
    display: flex;
    gap: 10px;
    touch-action: none;
    /* padding: 10px; */
}


@media (min-width: 320px) and (max-width: 480px) {
    .droppableStyle .isi {
        /* min-width: 130px; */
        width: 46vw;
    }

    .droppableStyle {
        padding: 10px 0;
    }

    .droppableStyle .isi {
        border: 1px solid black;
    }


    .luarbutton button {
        width: 80%;
    }

    .luarbutton .iconbawah {
        width: 20%;
    }

    .judulatas {
        font-size: 20px;
    }

}