.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* background-image: linear-gradient(180deg, #a78cdc 0, #6c5eba 30%, #1e3599 100%); */
}

.soal {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.soal button {
    font-size: 1.5rem;
    font-weight: 700;
    height: 50px;
    padding: 0 30px;
    background-color: var(--coloryellow);
    border: 0;
    border-radius: 12px;
}

.soal button:hover {
    border-bottom: 3px solid var(--colordua);
    cursor: pointer;
}


.atassendiri {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}

.gambarlogo {
    width: 100%;
    opacity: 0.5;
    display: flex;
    justify-content: center;
}

.gambarlogo img {
    object-fit: contain;
    background-position: center;
    width: 200px
}


.judul2 {
    font-size: 30px;
    padding: 20px 0;
    font-weight: 700;
}

.judul {
    display: flex;
    justify-content: center;
}

.judul h1 {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 700;
    color: var(--colorsoal);
    font-weight: 1000;
    /* text-shadow:
        3px 3px 2px #000,
        -3px 3px 2px #000,
        -3px -3px 0 #000,
        3px -3px 0 #000; */
}

.subjudul3 {
    width: 1000px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 20px 0;
}

.subjudul {
    width: 70vw;
    text-align: center;
    font-size: 14px;
    background-color: var(--colorsoal);
    color: var(--colorputih);
    margin-top: 20px;
    padding: 20px;
}

.grid {
    display: grid;
    width: 1000px;
    justify-content: center;
}

.detail {
    background-image: linear-gradient(340deg, rgba(76, 76, 76, 0.02) 0%, rgba(76, 76, 76, 0.02) 34%, transparent 34%, transparent 67%, rgba(142, 142, 142, 0.02) 67%, rgba(142, 142, 142, 0.02) 73%, rgba(151, 151, 151, 0.02) 73%, rgba(151, 151, 151, 0.02) 100%), linear-gradient(320deg, rgba(145, 145, 145, 0.02) 0%, rgba(145, 145, 145, 0.02) 10%, transparent 10%, transparent 72%, rgba(35, 35, 35, 0.02) 72%, rgba(35, 35, 35, 0.02) 76%, rgba(69, 69, 69, 0.02) 76%, rgba(69, 69, 69, 0.02) 100%), linear-gradient(268deg, rgba(128, 128, 128, 0.02) 0%, rgba(128, 128, 128, 0.02) 5%, transparent 5%, transparent 76%, rgba(78, 78, 78, 0.02) 76%, rgba(78, 78, 78, 0.02) 83%, rgba(224, 224, 224, 0.02) 83%, rgba(224, 224, 224, 0.02) 100%), linear-gradient(198deg, rgba(25, 25, 25, 0.02) 0%, rgba(25, 25, 25, 0.02) 36%, transparent 36%, transparent 85%, rgba(180, 180, 180, 0.02) 85%, rgba(180, 180, 180, 0.02) 99%, rgba(123, 123, 123, 0.02) 99%, rgba(123, 123, 123, 0.02) 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
    border-radius: 12px;
    padding: 20px;
    height: min-content;
    grid-area: 1/2/1/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.detail .atas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail .atas .close {
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    color: var(--colorhover);
}

.detail .atas .close:hover {
    color: var(--colordua);
}

.detail .atas .juduldetail {
    text-decoration: underline;
    font-weight: 700;
    font-size: 30px;
}

.detail .gambardetail {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.detail .gambardetail img {
    width: 100%;
}

.detail .deskripsi {
    font-size: 16px;
    font-weight: 500;
}

.gambarluar {
    width: 700px;
    display: flex;
    justify-content: center;
    /* grid-area: 1/1/1/2; */
}

/* 
.texttambahan {
    background-color: var(--colorsoal);
    color: var(--colorputih);
    font-size: 14px;
    margin-left: 30px;
    padding: 30px;
    font-weight: 500;
    grid-area: 1/2/2/3;
} */


.gambarluar img {
    width: 400px;
}


.gambar {
    height: 65dvh;
    position: relative;
}

.gambar img {
    height: 65dvh;
    object-fit: contain;
    object-position: center;
}

.gambar .hidung {
    position: absolute;
    top: 108px;
    left: -153px;
    height: 30px;
    padding: 0 24px;
    background-color: var(--colordua);
    color: var(--colorputih);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 2px;
    width: -moz-fit-content;
    width: fit-content;
}

.gambar .hidung:hover {
    opacity: 0.9;
    border-bottom: 2px solid var(--colorsoal);
    cursor: pointer;
}

.gambar .faring {
    position: absolute;
    top: 121px;
    right: -343px;
    height: 30px;
    padding: 0 24px;
    background-color: var(--colordua);
    color: var(--colorputih);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 2px;
    width: -moz-fit-content;
    width: fit-content;
}

.gambar .faring:hover {
    opacity: 0.9;
    border-bottom: 2px solid var(--colorsoal);
    cursor: pointer;
}

.gambar .laring {
    position: absolute;
    top: 153px;
    right: -434px;
    height: 30px;
    padding: 0 24px;
    background-color: var(--colordua);
    color: var(--colorputih);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 2px;
    width: -moz-fit-content;
    width: fit-content;
}

.gambar .laring:hover {
    opacity: 0.9;
    border-bottom: 2px solid var(--colorsoal);
    cursor: pointer;
}

.gambar .trakea {
    position: absolute;
    top: 191px;
    left: -429px;
    height: 30px;
    padding: 0 24px;
    background-color: var(--colordua);
    color: var(--colorputih);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 2px;
    width: -moz-fit-content;
    width: fit-content;
}

.gambar .trakea:hover {
    opacity: 0.9;
    border-bottom: 2px solid var(--colorsoal);
    cursor: pointer;
}

.gambar .bronkus {
    position: absolute;
    top: 225px;
    right: -522px;
    height: 30px;
    padding: 0 24px;
    background-color: var(--colordua);
    color: var(--colorputih);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 2px;
    width: -moz-fit-content;
    width: fit-content;
}

.gambar .bronkus:hover {
    opacity: 0.9;
    border-bottom: 2px solid var(--colorsoal);
    cursor: pointer;
}

.gambar .bronkiolus {
    position: absolute;
    top: 259px;
    right: -413px;
    height: 30px;
    padding: 0 24px;
    background-color: var(--colordua);
    color: var(--colorputih);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 2px;
    width: -moz-fit-content;
    width: fit-content;
}

.gambar .bronkiolus:hover {
    opacity: 0.9;
    border-bottom: 2px solid var(--colorsoal);
    cursor: pointer;
}

.gambar .paruparu {
    position: absolute;
    top: 266px;
    left: -183px;
    height: 30px;
    padding: 0 24px;
    background-color: var(--colordua);
    color: var(--colorputih);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 2px;
    width: -moz-fit-content;
    width: fit-content;
}

.gambar .paruparu:hover {
    opacity: 0.9;
    border-bottom: 2px solid var(--colorsoal);
    cursor: pointer;
}

.gambar .diafragma {
    position: absolute;
    top: 320px;
    left: -191px;
    height: 30px;
    padding: 0 24px;
    background-color: var(--colordua);
    color: var(--colorputih);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 2px;
    width: -moz-fit-content;
    width: fit-content;
}

.gambar .diafragma:hover {
    opacity: 0.9;
    border-bottom: 2px solid var(--colorsoal);
    cursor: pointer;
}

.gambar .alveolus {
    position: absolute;
    top: 291px;
    right: -384px;
    height: 30px;
    padding: 0 24px;
    background-color: var(--colordua);
    color: var(--colorputih);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 2px;
    width: -moz-fit-content;
    width: fit-content;
}

.gambar .alveolus:hover {
    opacity: 0.9;
    border-bottom: 2px solid var(--colorsoal);
    cursor: pointer;
}


.alurpernapasan {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.tandapanah {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 20px;
    margin-bottom: 20px;
}

.alurpernapasan .judul {
    font-size: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alurpernapasan .iconatas {
    padding: 20px;
    animation: mymove 3s infinite;
    position: relative;
}


@keyframes mymove {
    from {
        top: 0px;
    }

    to {
        top: 10px;
    }
}

.gambaralurpernafasan {
    width: 100%;
}

.gambaralurpernafasan img {
    width: 100%;
    height: auto;
    /* object-fit: contain; */
}

.artikelluarluar {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 50px 0;
    color: var(--colorsoal);
}

.artikelluarluar ol li {
    margin-bottom: 10px;
}

.artikelluar {
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.artikel {
    grid-area: 1/1/1/2;
    width: 800px;
    padding: 0 100px;
}

.artikel>.judulartikel {
    font-weight: 1000;
    font-size: 35px;
    margin-bottom: 20px;
}

.artikel>.isiartikel {
    /* font-size: 20px; */
    font-weight: 500;
}

.gambarartikel {
    grid-area: 1/2/1/3;
    border-radius: 10px;
}

.gambarartikel img {
    border-radius: 10px;
}


@media (min-width: 320px) and (max-width: 480px) {


    .alurpernapasan .judul {
        font-size: 10px;
        text-align: center;
    }

    .gambaralurpernafasan {
        width: 95%;
    }

    .gambaralurpernafasan img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .detail {
        height: 100dvh;
    }

    .grid {
        margin-top: 20px;
    }

    .gambar {
        /* height: 80vh; */
        height: max-content;
    }

    .gambar img {
        height: max-content;
    }


    .gambarluar img {
        width: 200px;
    }

    .detail .gambardetail {
        width: 100%;
    }

    .detail .gambardetail img {
        width: 200px
    }

    .gambar .hidung {
        top: 0px;
        left: -90px;
        height: 20px;
        padding: 0 12px;
        font-size: 10px;
    }

    .gambar .faring {
        top: -7px;
        right: -42px;
        height: 20px;
        padding: 0 12px;
        font-size: 10px;
    }

    .gambar .laring {
        top: 31px;
        left: -68px;
        height: 20px;
        padding: 0 12px;
        font-size: 10px;
    }

    .gambar .trakea {
        top: 57px;
        left: -80px;
        height: 20px;
        padding: 0 12px;
        font-size: 10px;
    }


    .gambar .bronkus {
        top: 21px;
        right: -77px;
        height: 20px;
        padding: 0 12px;
        font-size: 10px;
    }


    .gambar .paruparu {
        top: 94px;
        left: -108px;
        height: 20px;
        padding: 0 12px;
        font-size: 10px;
    }

    .gambar .diafragma {
        top: 156px;
        right: -98px;
        height: 20px;
        padding: 0 12px;
        font-size: 10px;
    }

    .gambar .bronkiolus {
        top: 53px;
        right: -118px;
        height: 20px;
        padding: 0 12px;
        font-size: 10px;
    }

    .gambar .alveolus {
        top: 98px;
        right: -104px;
        height: 20px;
        padding: 0 12px;
        font-size: 10px;
    }

    /* CSS */
    .judul {
        font-size: 20px;
    }

    .grid {
        width: 100%;
    }

    .detail {
        position: absolute;
        /* top: 50px */
    }

    .gambarluar {
        width: 100%;
    }



    .gambar img {
        width: 180px;
    }

    .atassendiri {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .gambarlogo {
        grid-area: 1/1/2/2;
        width: 100%;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        height: 70px;
    }

    .gambarlogo img {
        object-fit: contain;
        background-position: center;
        width: 200px
    }

    .judul h1 {
        margin-top: 30px;
        font-size: 20px;
        font-weight: 700;
        color: var(--coloryellow);
        /* color: #fff; */
        text-shadow:
            3px 3px 2px #000,
            -3px 3px 2px #000,
            -3px -3px 0 #000,
            3px -3px 0 #000;
    }

    .artikelluar {
        width: 63vw;
    }

    .artikel {
        width: 63vw;
        padding: 10px;
    }

    .artikelluarluar {
        padding: 0;
    }

    .gambarartikel {
        width: 100px;
        height: 100px;
    }

    .gambarartikel img {
        width: 100px;
        height: 100px;
    }

    .artikel>.judulartikel {
        font-size: 16px;
    }

    .artikel>.isiartikel {
        font-size: 10px;
    }


}