.isiluar {
    display: flex;
    justify-content: center;
    position: relative;
    height: 80dvh;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(340deg, rgba(76, 76, 76, 0.02) 0%, rgba(76, 76, 76, 0.02) 34%, transparent 34%, transparent 67%, rgba(142, 142, 142, 0.02) 67%, rgba(142, 142, 142, 0.02) 73%, rgba(151, 151, 151, 0.02) 73%, rgba(151, 151, 151, 0.02) 100%), linear-gradient(320deg, rgba(145, 145, 145, 0.02) 0%, rgba(145, 145, 145, 0.02) 10%, transparent 10%, transparent 72%, rgba(35, 35, 35, 0.02) 72%, rgba(35, 35, 35, 0.02) 76%, rgba(69, 69, 69, 0.02) 76%, rgba(69, 69, 69, 0.02) 100%), linear-gradient(268deg, rgba(128, 128, 128, 0.02) 0%, rgba(128, 128, 128, 0.02) 5%, transparent 5%, transparent 76%, rgba(78, 78, 78, 0.02) 76%, rgba(78, 78, 78, 0.02) 83%, rgba(224, 224, 224, 0.02) 83%, rgba(224, 224, 224, 0.02) 100%), linear-gradient(198deg, rgba(25, 25, 25, 0.02) 0%, rgba(25, 25, 25, 0.02) 36%, transparent 36%, transparent 85%, rgba(180, 180, 180, 0.02) 85%, rgba(180, 180, 180, 0.02) 99%, rgba(123, 123, 123, 0.02) 99%, rgba(123, 123, 123, 0.02) 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.isi {
    display: flex;
    width: 700px;
    gap: 100px;
}

.tengah {
    gap: 30px !important;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.judul {
    font-weight: 1000;
    font-size: 38px;
    text-align: center;
    /* line-height: 60px; */
}

.subjudul {
    text-align: center;
    font-size: 18px;
}


.isiluar .masuk {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.isiluar button {
    border: 0;
    height: 50px;
    padding: 0 24px;
    background-color: var(--colordua);
    color: var(--colorputih);
    font-weight: 1000;
    border-radius: 12px;
    cursor: pointer;
    border: 2px solid var(--colorsoal);
    border-bottom: 5px solid var(--colorsoal);
    display: flex;
    justify-content: center;
    align-items: center;
}

.isiluar button:hover {
    border: 2px solid var(--colorputih);
    border-bottom: 5px solid var(--colorputih);
}

.kanan {
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
    height: 80vh;
    opacity: 0.5;
}

.dalamkanan {
    position: relative;
}

.kanan .icon1 {
    position: absolute;
    top: 0;
    right: 20px;
}


.kanan .icon2 {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 100%;
}

.kanan .icon3 {
    position: absolute;
    top: 200px;
    right: 20px;
}

.kanan .icon4 {
    position: absolute;
    top: 300px;
    right: 20px;
    width: 100%;
}

.kanan .icon5 {
    position: absolute;
    top: 400px;
    right: 20px;
}

.kanan .icon6 {
    position: absolute;
    top: 500px;
    right: 20px;
    width: 100%;
}



.kiri {
    position: absolute;
    top: 50px;
    left: 0;
    width: 300px;
    height: 80vh;
    opacity: 0.5;
}

.dalamkanan {
    position: relative;
}


.kiri .icon1 {
    position: absolute;
    top: 0;
    left: 20px;
}


.kiri .icon2 {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.kiri .icon3 {
    position: absolute;
    top: 200px;
    left: 20px;
}

.kiri .icon4 {
    position: absolute;
    top: 300px;
    left: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.kiri .icon5 {
    position: absolute;
    top: 400px;
    left: 20px;
}

.kiri .icon6 {
    position: absolute;
    top: 500px;
    left: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 320px) and (max-width: 480px) {

    .isiluar {
        height: 100dvh;
    }

    .isi {
        height: 50dvh;
    }

    .judul {
        font-size: 30px;
    }

    .subjudul {
        font-size: 14px;
    }

    .kiri {
        opacity: 0.2;
    }

    .kanan {
        opacity: 0.2;
    }

}