.isiluar {
    display: flex;
    flex: auto;
    justify-content: center;
    height: 80dvh;
}

.isi {
    display: flex;
    align-items: center;
    width: 80%;
}

.isi .kiri {
    padding: 50px;
    width: 50%;
}

.isi .kiri .judul {
    font-weight: 700;
    font-size: 60px;
}

.isi .kiri .subjudul {
    padding: 20px 0;
    color: var(--colorgrey);
}

.isi .kiri button {
    border: 0;
    height: 40px;
    padding: 0 24px;
    background-color: var(--colordua);
    color: var(--colorputih);
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
}

.isi .kiri .iconbawah {
    position: absolute;
    /* width: 100%; */
    bottom: 0;
    z-index: 100;
}

.iconbawah {
    width: 100%;
    height: 120px;
    position: relative;
}

.iconbawah .kotak1 {
    animation: drift 15s 2s linear infinite both;
    position: absolute;
    top: 10px;
}

.iconbawah .kotak2 {
    animation: drift 35s 2s linear infinite both;
    position: absolute;
    top: 60px;
}

.iconbawah .kotak3 {
    animation: drift 25s 2s linear infinite both;
    position: absolute;
    top: 120px;
}

.iconbawah .kotak4 {
    animation: drift 10s 2s linear infinite both;
    position: absolute;
    top: 180px;
}

.iconbawah .kotak5 {
    animation: drift 17s 2s linear infinite both;
    position: absolute;
    top: 240px;
}


@keyframes drift {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
    }
}


.isi .kanan {
    padding: 50px 50px 50px 0;
    width: 50%;
}

.isi .kanan img {
    width: 100%;
}



@media (min-width: 320px) and (max-width: 480px) {

    .isiluar {
        height: auto;
    }

    .isiluar .isi {
        display: flex;
        flex-direction: column-reverse;
    }

    .isi .kanan {
        padding: 0;
        width: 100%;
    }

    .isi {
        width: 100%;
    }

    .isi .kiri {
        width: 100%;
    }

    .isi .kiri .judul {
        font-size: 40px;
    }

    .iconbawah {
        width: 100vw;
    }
}