.main {
    display: flex;
    background-color: var(--colorsoal);
    height: 100dvh;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* height: 100; */
}

.dalammain {
    margin-top: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    color: var(--colorputih);
    z-index: 111;
    height: 100dvh;
}


.dalammain textarea {
    height: 200px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    padding: 10px;
    letter-spacing: 1.4px;
}

.dalammain textarea:focus {
    outline: none;
    border: 0;
}

.dalammain input {
    height: 70px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    padding: 0 20px;
    font-weight: 700;
}

.dalammain input:focus {
    outline: none;
    border: 0;
}


.dalammain .bawah {
    width: 100%;
    display: flex;
    gap: 10px
}

.dalammain .bawah .kembali {
    font-size: 1.5rem;
    height: 70px;
    cursor: pointer;
    outline: none;
    border: 0;
    font-weight: 700;
    background-color: var(--colordua) !important;
    color: var(--colorputih) !important;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.dalammain .bawah .kembali {
    background-color: var(--colorputih);
    color: black;
}


.dalammain button {
    font-size: 1.5rem;
    height: 70px;
    cursor: pointer;
    outline: none;
    border: 0;
    font-weight: 700;
    background-color: var(--colormain);
    color: var(--colorputih);
    margin-bottom: 50px;
    width: 100%;
}

.dalammain button:hover {
    background-color: var(--colorputih);
    color: black;
}


.icon {
    position: absolute;
    bottom: 50px;
    right: 100px;
    font-size: 200px;
    opacity: 0.3;
    transform: rotate(40deg);
    z-index: -1;
}

.icon2 {
    position: absolute;
    bottom: 50px;
    left: 200px;
    font-size: 100px;
    opacity: 0.3;
    transform: rotate(-40deg);
    z-index: -1;
}

.icon3 {
    position: absolute;
    top: 150px;
    right: 200px;
    font-size: 120px;
    opacity: 0.3;
    transform: rotate(110deg);
    z-index: -1;
}

.icon4 {
    position: absolute;
    top: 150px;
    left: 200px;
    font-size: 180px;
    opacity: 0.3;
    transform: rotate(-30deg);
    z-index: -1;
}


.icon5 {
    position: absolute;
    top: 500px;
    left: 10px;
    font-size: 50px;
    opacity: 0.3;
    transform: rotate(-30deg);
    z-index: -1;
    color: var(--colordua);
    font-weight: 700;
}


.page {
    position: absolute;
    top: 80px;
    right: 50px;
    font-size: 50px;
    z-index: -1;
    color: var(--coloryellow);
    font-weight: 700;
    background-color: var(--colordua);
}


@media (min-width: 320px) and (max-width: 480px) {

    .dalammain {
        width: 100%;
        padding: 0 20px;
    }

    .icon {
        display: none;
    }

    .icon2 {
        display: none;
    }

    .icon3 {
        display: none;
    }

    .icon4 {
        display: none;
    }

    .icon5 {
        display: none;
    }

    .page {
        font-size: 30px;
    }



}