.container {
    display: flex;
    /* flex: auto; */
    justify-content: center;
}

.isi {
    width: 80%;
    display: flex
}


.kolom1 {
    padding: 20px;
}

.dalam {
    height: 300px;
    width: 100%;
    padding: 20px;
    border: 2px solid var(--colordua);
    border-radius: 12px;
    position: relative;
}

.dalam .icon {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 150px;
    z-index: -1;
    opacity: 0.2;
}

.dalam:hover .icon {
    opacity: 0.5;
    z-index: 1;
}

.kolom2 {
    padding: 20px;
}


.kolom3 {
    padding: 20px;
}


.judul {
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--colordua);
}

.subjudul {
    color: var(--colorgrey);
}

.dalam:hover {
    background-color: var(--colordua);
    transition: all ease 0.3s;
    color: var(--colorputih);
    cursor: pointer;
}

.dalam:hover .judul {
    transition: all ease 0.3s;
    color: var(--colorputih);
}

.dalam:hover .subjudul {
    transition: all ease 0.3s;
    color: var(--colorputih);
}


@media (min-width: 320px) and (max-width: 480px) {
    .isi {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}