.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    background-color: var(--colordua);
    position: relative;
    flex-direction: column;
}

.container .text {
    font-size: 3rem;
    font-weight: 700;
    color: var(--colorputih);
    background-color: var(--colormain);
    padding: 10px;
    z-index: 1;
}

.icon {
    position: absolute;
    bottom: 50px;
    right: 100px;
    font-size: 200px;
    opacity: 0.3;
    transform: rotate(40deg);
}

.icon2 {
    position: absolute;
    bottom: 50px;
    left: 200px;
    font-size: 100px;
    opacity: 0.3;
    transform: rotate(-40deg);
}

.icon3 {
    position: absolute;
    top: 150px;
    right: 200px;
    font-size: 120px;
    opacity: 0.3;
    transform: rotate(110deg);
}

.icon4 {
    position: absolute;
    top: 150px;
    left: 200px;
    font-size: 180px;
    opacity: 0.3;
    transform: rotate(-30deg);
}

.icon5 {
    position: absolute;
    top: 0;
    left: 600px;
    font-size: 180px;
    opacity: 0.3;
    transform: rotate(-30deg);
}